http_interactions:
- recorded_at: '2017-02-16T05:40:27'
  request:
    body:
      encoding: utf-8
      string: '{"text": "This is a sample warning message", "alert_type": "warning",
        "title": "This is a sample warning message"}'
    headers:
      Content-Type: application/json
    method: POST
    uri: https://app.datadoghq.com/api/v1/events?api_key=<DATADOG_API_KEY>
  response:
    body:
      encoding: utf-8
      string: '{"status":"ok","event":{"id":941343391421728099,"title":"This is a
        sample warning message","text":"This is a sample warning message","date_happened":1487223627,"handle":null,"priority":null,"related_event_id":null,"tags":null,"url":"https://app.datadoghq.com/event/event?id=941343391421728099"}}'
    headers:
      Content-Type: text/plain; charset=utf-8
      DD-POOL: propjoe
    status:
      code: 202
      message: Accepted
    url: https://app.datadoghq.com/api/v1/events?api_key=<DATADOG_API_KEY>
recorded_with: betamax/0.8.0
